#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-container {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.user {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg);
  color: black;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color ease .18s;

  &:hover {
    border-color: var(--color-text);
  }

  .user__name {
    color: var(--color-text);
    font-weight: 600;
    line-height: 1.1;
  }

  .user__email {
    font-size: small;
    color: var(--color-text-secondary);
  }
}

.load-more {
  margin-top: 16px;

  .load-more__button {
    padding: 8px 12px;
    border: 0;
    background-color: var(--color-bg);
    border-radius: 4px;
    min-width: 120px;
    border: 1px solid transparent;
    transition: border-color ease .18s;
    cursor: pointer;

    &:hover:not(:disabled) {
      border-color: var(--color-text);
    }
  }
}
