:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: light-dark(#eeeeee, #242424);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: light-dark(white, black);
  --color-text: light-dark(black, white);
  --color-text-secondary: light-dark(#797979, #b9b9b9);
}
